<html>
  <head>
    <style>
.plot {
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
body {
    font-family: 'Noto Sans';
    font-size: 14pt;
}

.page-break {
    page-break-after: always;
}

@font-face {
    font-family: 'Noto Sans';
    src: url("NotoSans-Regular.ttf");
}
    </style>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta charset="UTF-8">
  </head>
  <body>
    <div>
      <p>Вейвлет-преобразование сигнала (спектр мощности)</p>
      <img class="plot" src="wavelet_cmor.png" alt="wavelet cmor"/>
      <p>Удаление высокочастотного шума с помощью вейвлета bior4.4 для пороговой функции soft</p>
      <img class="plot" src="wavelet_bior.png" alt="wavelet bior"/>
      <div class="page-break"></div>
      <p>Вейвлет-преобразование очищенного сигнала (спектр мощности)</p>
      <img class="plot" src="wavelet_cleaned.png" alt="wavelet cleaned"/>
      <p>Очищенный сигнал</p>
      <img class="plot" src="cleaned.png" alt="cleaned"/>
      <div class="page-break"></div>
      <p>Гистограмма очищенного сигнала</p>
      <img class="plot" src="histogram.png" alt="histogram"/>
      <p></p>
    </div>
    <script>
    </script>
  </body>
</html>
